body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #333333;
	background-color: #ffcc00;
	background-image: url(../images/mtnPgBgd.jpg);
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
}
.mainNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align:center;
	background-color: #FFE17F;
	background-image: url(../images/mainNavBgd.jpg);
	background-repeat: repeat-x;
}
.centerAligned {
	text-align: center;
}
.globalNav {
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #F2C100;
	background-image: url(../images/globalLinksBgd.jpg);
	background-repeat: repeat-x;
}
.dividerCenterAligned {
	background-color: #DFB302;
	background-image: url(../images/index_r3_c1.jpg);
	background-repeat: repeat-x;
	text-align: center;
}
.dividerCenterAligned2 {
	background-color: #ffffff;
	text-align: center;
}
.rightAligned {
	text-align: right;
}
.leftAligned {
	text-align: left;
}
.sideNavTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #666666;
}
.sideNavTxt a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #666666;
	text-decoration:none;
}
.sideNavTxt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #ffcc00;
	text-decoration:none;
}
.sideNavTxt a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #666666;
	text-decoration:none;
}
.globalNavTxt {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	color: #FFFFFF;
	letter-spacing: 0.1em;
}
.Content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.homeBox{
	border:#F7AF12 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FFCB01;
	color: #666666;
}
.homeContentSmaller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	font-weight: normal;
	font-variant: normal;
	font-style: oblique;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: disc;
}
.homeContentSmaller a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF3202;
	font-weight: normal;
	font-variant: normal;
	font-style: oblique;
	text-decoration: none;
}
.homeContentSmaller a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000033;
	font-weight: normal;
	font-variant: normal;
	font-style: oblique;
	text-decoration: underline;
}
.homeContentSmaller a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF3202;
	font-weight: normal;
	font-variant: normal;
	font-style: oblique;
	text-decoration: none;
}
.homeBaseNavTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	padding-left: 6px;
	color: #FFFFFF;
	text-align:center;
	vertical-align: middle;
}
.homeBaseNavTxt a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	padding-left: 6px;
	color: #FFFFFF;
	vertical-align: middle;
	text-decoration:none;
}
.homeBaseNavTxt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	padding-left: 6px;
	color: #333333;
	vertical-align: middle;
	text-decoration:none;	
}
.homeBaseNavTxt a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	padding-left: 6px;
	color: #FFFFFF;
	vertical-align: middle;
	text-decoration:none;	
}
.innerPg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #FFFFFF;
	text-align: center;
}
.breadcrumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	padding-left: 18px;
}
.breadcrumbs A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration:none;
}
.breadcrumbs A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffaa00;
	text-decoration:underline;
}
.breadcrumbs A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration:none
}
.contentHeader1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
}
.contentHeader1 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
	text-decoration:none;
}
.contentHeader1 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #333333;
	vertical-align: middle;
	text-decoration:none;	
}
.contentHeader1 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
	text-decoration:none;	
}
.mainNavTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	padding-left: 6px;
	color: #666666;
	vertical-align: middle;
	word-spacing: 2em;
}
.mainNavTxt a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	padding-left: 6px;
	color: #666666;
	vertical-align: middle;
	word-spacing: 2em;
	text-decoration:none;
}
.mainNavTxt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	padding-left: 6px;
	color: #ffffff;
	vertical-align: middle;
	word-spacing: 2em;
	text-decoration:none;
}
.mainNavTxt a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	padding-left: 6px;
	color: #666666;
	vertical-align: middle;
	word-spacing: 2em;
	text-decoration:none;
}
.innerBox {

	border:#F7AF12 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.yelloBoxCell {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: F7AF12;
	padding: 3px;
}
.cellBgWhite {
	background-color: #FFFFFF;
	padding: 3px;
}
.baseNavTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
	padding-left: 6px;
}
.baseNavTxt a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
	text-decoration:none;
	padding-left: 6px;
}
.baseNavTxt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #333333;
	vertical-align: middle;
	text-decoration:none;
	padding-left: 6px;
}
.baseNavTxt a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #ffaa00;
	vertical-align: middle;
	text-decoration:none;
	padding-left: 6px;
}
.homeContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	padding: 5px;
}
.innerbox {

	border:#F7AF12 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.toplinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.toplinks a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.toplinks a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.toplinks a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}.greyBgd {
	background-color: #EFEFEF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.greyBgd a:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration:underline;
}
.greyBgd a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration:none;
}
.greyBgd a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration:underline;
}
.innerBox {
	border:1px solid #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
}
.innerWhiteBox {
	border:#F7AF12 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.tableContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	border: #004A6A 1px solid;
}
.tableHeaderContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #F0BF00;
	border-top-color: #004A6A;
	border-right-color: #004A6A;
	border-left-color: #004A6A;
	border-top-width: 1px solid;
	border-right-width: 1px solid;
	border-left-width: 1px solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	vertical-align: middle;
	border: #004A6A 1px solid;


}
.tableHeaderContentDarkBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #004A6A;
	border-top-color: #004A6A;
	border-right-color: #004A6A;
	border-left-color: #004A6A;
	border-top-width: 1px solid;
	border-right-width: 1px solid;
	border-left-width: 1px solid;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	vertical-align: middle;
	border: #004A6A 1px solid;

}
.ContentWtWMark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-image: url(../images/club0803_watermark.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}
.formbutton {
	border: 1px solid #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #006699;
	padding: 2px;
}
.errorBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	padding: 3px 3px 3px 8px;
	border: 1px solid #990000;
	background-color: #F5F5F5;
	font-weight: bold;
	vertical-align: middle;
}
.greyBgdHeader {

	background-color: #E1E1E1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.dataBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 3px 3px 3px 8px;
	border: 1px solid #003366;
	background-color: #F5F5F5;
	font-weight: normal;
	vertical-align: middle;
}
.homeCellHeader {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9AD00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #EABB00;
}
.homeCell {

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EABB00;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.hideElement {
	DISPLAY: none
}