BODY {
  padding-bottom: 0px;
  background-color: #3399ff;
  font-style: normal;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10px;
  padding-top: 0px;
}
.mainNav {
  text-align: center;
  background-color: #33ccff;
  font-style: normal;
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.centerAligned {
  text-align: center;
}
.globalNav {
  text-align: center;
  background-color: #3399ff;
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 10px;
  vertical-align: middle;
}
.dividerCenterAligned {
  text-align: center;
  background-color: #3399ff;
  background-repeat: repeat-x;
}
.dividerCenterAligned2 {
  text-align: center;
  background-color: #ffffff;
}
.rightAligned {
  text-align: right;
}
.leftAligned {
  text-align: left;
}
.sideNavTxt {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}
.sideNavTxt A:link {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.sideNavTxt A:hover {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #3399ff;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.sideNavTxt A:visited {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.globalNavTxt {
  padding-left: 5px;
  letter-spacing: 0.1em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}
.Content {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10px;
}
.homeBox {
  border-bottom: #f7af12 1px solid;
  border-left: #f7af12 1px solid;
  background-color: #ffcb01;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 9px;
  border-top: #f7af12 1px solid;
  border-right: #f7af12 1px solid;
}
.homeContentSmaller {
  list-style: disc none outside;
  font-variant: normal;
  font-style: oblique;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 9px;
  font-weight: normal;
}
.homeContentSmaller A:link {
  font-variant: normal;
  font-style: oblique;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ff3202;
  font-size: 9px;
  font-weight: normal;
  text-decoration: none;
}
.homeContentSmaller A:hover {
  font-variant: normal;
  font-style: oblique;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000033;
  font-size: 9px;
  font-weight: normal;
  text-decoration: underline;
}
.homeContentSmaller A:visited {
  font-variant: normal;
  font-style: oblique;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ff3202;
  font-size: 9px;
  font-weight: normal;
  text-decoration: none;
}
.homeBaseNavTxt {
  text-align: center;
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 11px;
  vertical-align: middle;
}
.homeBaseNavTxt A:link {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 11px;
  vertical-align: middle;
  text-decoration: none;
}
.homeBaseNavTxt A:hover {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 11px;
  vertical-align: middle;
  text-decoration: none;
}
.homeBaseNavTxt A:visited {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 11px;
  vertical-align: middle;
  text-decoration: none;
}
.innerPg {
  text-align: center;
  background-color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10px;
}
.breadcrumbs {
  padding-left: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 9px;
}
.breadcrumbs A:link {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 9px;
  text-decoration: none;
}
.breadcrumbs A:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa00;
  font-size: 9px;
  text-decoration: underline;
}
.breadcrumbs A:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 9px;
  text-decoration: none;
}
.contentHeader1 {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #3399ff;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
}
.contentHeader1 A:link {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa00;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.contentHeader1 A:hover {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.contentHeader1 A:visited {
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa00;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.mainNavTxt {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  word-spacing: 2em;
}
.mainNavTxt A:link {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  word-spacing: 2em;
  text-decoration: none;
}
.mainNavTxt A:hover {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  word-spacing: 2em;
  text-decoration: none;
}
.mainNavTxt A:visited {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  word-spacing: 2em;
  text-decoration: none;
}
.innerBox {
  border-bottom: #f7af12 1px solid;
  border-left: #f7af12 1px solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 9px;
  border-top: #f7af12 1px solid;
  border-right: #f7af12 1px solid;
}
.yelloBoxCell {
  padding-bottom: 3px;
  background-color: #f7af12;
  padding-left: 3px;
  padding-right: 3px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
}
.cellBgWhite {
  padding-bottom: 3px;
  background-color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}
.baseNavTxt {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3399ff;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
}
.baseNavTxt A:link {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa00;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.baseNavTxt A:hover {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.baseNavTxt A:visited {
  text-transform: none;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3399ff;
  font-size: 11px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}
.homeContent {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10px;
  padding-top: 5px;
}
.innerBox {
  border-bottom: #f7af12 1px solid;
  border-left: #f7af12 1px solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 9px;
  border-top: #f7af12 1px solid;
  border-right: #f7af12 1px solid;
}
.toplinks {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 11px;
}
.toplinks A:link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 11px;
  text-decoration: none;
}
.toplinks A:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 11px;
  text-decoration: none;
}
.toplinks A:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 11px;
  text-decoration: underline;
}
.greyBgd {
  border-bottom: #ffffff 1px solid;
  background-color: #efefef;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
}
.greyBgd A:link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
  text-decoration: underline;
}
.greyBgd A:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
  text-decoration: none;
}
.greyBgd A:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
  text-decoration: underline;
}
.innerBox {
  border-bottom: #666666 1px solid;
  text-align: left;
  border-left: #666666 1px solid;
  background-color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
  border-top: #666666 1px solid;
  border-right: #666666 1px solid;
}
.innerWhiteBox {
  border-bottom: #3399ff 1px solid;
  border-left: #3399ff 1px solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 9px;
  border-top: #3399ff 1px solid;
  border-right: #3399ff 1px solid;
}
.tableContent {
  border-bottom: #004a6a 1px solid;
  border-left: #004a6a 1px solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10px;
  border-top: #004a6a 1px solid;
  border-right: #004a6a 1px solid;
}
.tableHeaderContent {
  border-bottom: #004a6a 1px solid;
  border-left: #004a6a 1px solid;
  padding-bottom: 2px;
  background-color: #f0bf00;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
  vertical-align: middle;
  border-top: #004a6a 1px solid;
  font-weight: bold;
  border-right: #004a6a 1px solid;
  padding-top: 2px;
}
.tableHeaderContentDarkBlue {
  border-bottom: #004a6a 1px solid;
  border-left: #004a6a 1px solid;
  padding-bottom: 2px;
  background-color: #004a6a;
  padding-left: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 12px;
  vertical-align: middle;
  border-top: #004a6a 1px solid;
  font-weight: bold;
  border-right: #004a6a 1px solid;
  padding-top: 2px;
}
.ContentWtWMark {
  background-image: url(../images/club0803_watermark.jpg);
  background-repeat: repeat-y;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-position: center top;
  color: #333333;
  font-size: 10px;
}
.formbutton {
  border-bottom: #666666 1px solid;
  border-left: #666666 1px solid;
  padding-bottom: 2px;
  background-color: #006699;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 10px;
  border-top: #666666 1px solid;
  border-right: #666666 1px solid;
  padding-top: 2px;
}
.errorBox {
  border-bottom: #990000 1px solid;
  border-left: #990000 1px solid;
  padding-bottom: 3px;
  background-color: #f5f5f5;
  padding-left: 8px;
  padding-right: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #003366;
  font-size: 10px;
  vertical-align: middle;
  border-top: #990000 1px solid;
  font-weight: bold;
  border-right: #990000 1px solid;
  padding-top: 3px;
}
.greyBgdHeader {
  border-bottom: #666666 1px solid;
  background-color: #e1e1e1;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
}
.legend {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 9px;
}
.dataBox {
  border-bottom: #003366 1px solid;
  border-left: #003366 1px solid;
  padding-bottom: 3px;
  background-color: #f5f5f5;
  padding-left: 8px;
  padding-right: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  vertical-align: middle;
  border-top: #003366 1px solid;
  font-weight: normal;
  border-right: #003366 1px solid;
  padding-top: 3px;
}
.homeCellHeader {
  border-bottom: #d9ad00 1px solid;
  background-color: #eabb00;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
}
.homeCell {
  border-bottom: #eabb00 1px solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
}
.hideElement {
  display: none;
}
.hiliterows {
  background-color: #bbd5f4;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 10px;
}

.alternaterows {
  background-color: #e9e9d1;
  border: 1px solid #000000;
}

.header {
  background-color: #0b3b76;
  color: white;
  border-bottom: 1px solid #0b3b76;
  border-right: 1px solid #bbd5f4;
  border-top: 1px solid #0b3b76;
  border-left: 1px solid #0b3b76;
}

.highheadera {
  border-left: 1px solid #8a98f7;
}

.highheader {
  background-color: #8a98f7;
  border-bottom: 1px solid #8a98f7;
  border-right: 1px solid #bbd5f4;
  border-top: 1px solid #8a98f7;
  border-left: 1px solid #8a98f7;
}

.TFtable tr:nth-child(odd) {
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
  background: #dae5f4;
}

.myTable {
  width: 100%;
  border-collapse: collapse;
}
.myTable td {
  padding: 2px;
  border: #999 1px solid;
}

.myTable tr:nth-child(even) {
  /*(even) or (2n 0)*/
  background: #a4d1ff;
}
.myTable tr:nth-child(odd) {
  /*(odd) or (2n 1)*/
  background: #eaf4ff;
}
.table_header_new {
  background-color: #bbd5f4;

  -webkit-border-radius-topleft: 8px;

  -webkit-border-radius-topright: 8px;

  -moz-border-radius-topleft: 8px;

  -moz-border-radius-topright: 8px;

  font-family: Arial;

  font-size: 8pt;

  font-weight: bold;

  height: 20px;

  color: #000;

  font-style: normal;
}

.table_border_new {
  background-color: White;

  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;

  border-radius: 10px;

  border: 1px solid #bbd5f4;

  padding: 0px;

  font-family: Verdana;

  font-size: 8pt;

  vertical-align: top;

  font-weight: normal;
}

.table_inbox_header {
  border-top-width: 6px;

  border-left-width: 1px;

  border-right-width: 1px;

  border-bottom-width: 6px;

  border-top-style: solid;

  border-bottom-style: solid;

  border-right-style: solid;

  border-left-style: solid;

  border-top-color: #8b8b8b;

  border-bottom-color: #8b8b8b;

  border-right-color: #8b8b8b;

  border-left-color: #8b8b8b;

  font-family: Verdana;

  font-size: 8pt;

  vertical-align: top;

  font-weight: normal;
}

input {
  border-right: #f2e6b6 1px solid;

  padding-right: 2px;

  border-top: #f2e6b6 1px solid;

  padding-left: 2px;

  padding-bottom: 2px;

  border-left: #f2e6b6 1px solid;

  color: #000;

  padding-top: 2px;

  border-bottom: #f2e6b6 1px solid;

  font-family: Verdana;

  font-size: 8pt;

  background-color: white;
}
.text_item {
  font-family: Arial;

  font-size: 8pt;

  vertical-align: top;

  font-weight: normal;
}
.table_border_new {
  background-color: White;

  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;

  border-radius: 10px;

  border: 1px solid #bbd5f4;

  padding: 0px;

  font-family: Verdana;

  font-size: 8pt;

  vertical-align: top;

  font-weight: normal;
}
.BlueButton {
  /* Submit Button styles */

  background-color: #4682b4;

  -webkit-border-radius: 10px 9px;
  -moz-border-radius: 10px 9px;
  border-radius: 10px 9px;

  border: 0px;

  margin: 5px;

  padding: 4px 10px 2px 10px;

  min-width: 70px;

  /*Text Styles */

  color: white;

  font-family: helvetica, arial, sans-serif;

  font-size: 11px;

  font-weight: bold;

  letter-spacing: 0px;

  word-spacing: 0px;

  text-align: center;

  text-shadow: 0px 0px 0px black;

  /*interaction */

  cursor: pointer;
}
.text_item {
  font-family: Arial;

  font-size: 8pt;

  vertical-align: top;

  font-weight: normal;
}
.rows {
  background-color: #ffff;
}
.datagrid {
  border: 1px solid #bbd5f4;
  font-family: verdana;
  font-size: 9pt;
  font-weight: normal;
  color: #291403;
}
.overlay {
  opacity: 0.8;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  text-align: center;
  display: table-cell;
}
.area {
  padding-top: 20%;
}
.displayed {
  display: block;
  margin: auto;
  
}
