<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/AlertSystem/PhpMailer/tests" />
        <option value="$PROJECT_DIR$/cov_update/mail/phpmailer/tests" />
        <option value="$PROJECT_DIR$/mail/phpmailer/tests" />
        <option value="$PROJECT_DIR$/adminer/tests" />
      </list>
    </option>
  </component>
</project>